body {
    font-family: Arial, sans-serif;
    background: #ffffff;
}

.timeline-box{
   background: #e9f1f1;
   padding: 10px 40px;
   border-radius: 10px;        
   max-width: 1000px;
   margin: 50px auto;         

}

.timeline{
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 80px auto;
}

.timeline-line {
    position: absolute;
    top: 22px;
    left: 0;
    right: 0;
    height: 4px;
    background: linear-gradient(to right, #0aa6a6, #1ea7fd);
}

.timeline-item {
    position: relative;
    text-align: center;
    width: 23%;
}

.dot {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin: 0 auto 20px;
}

.dot.green {
    background: #63f143;
}

.dot.blue {
    background: #1ea7fd;
}

.card {
    background: #f6fafa;
    padding: 12px;
    border-radius: 20px; 
}

.card h3 {
    color: #1ea7fd;
    margin-bottom: 5px;
}

.card p {
    font-size: 12px;
    color: #555;
    line-height:2;
}


